<footer class="small">

	<div class="container">

		<hr>

		<div class="row">

			<nav class="col-sm-7 col-sm-push-5 text-center">
				<ul class="nav nav-pills" style="display: inline-block;">
					{% include navitems.html %}
					<li><a href="https://www.facebook.com/pages/Port-Crane-Fire-Company-Inc/190118705352" target="_blank"><i class="fa fa-fw fa-facebook"></i></a></li>
					<li><a href="https://twitter.com/portcranefireco" target="_blank"><i class="fa fa-fw fa-twitter"></i></a></li>
				</ul>
			</nav>

			<div class="col-sm-5 col-sm-pull-7">
				<p class="text-center">
					Copyright &copy; <span id="copyYear">2013</span> <u>{{site.title}}</u>. All rights reserved.
				</p>
				<div class="row">
					<div class="col-xs-4 col-xs-offset-4">
					<img src="{{site.baseurl}}/images/hosted-logo.png" class="img-responsive center-block" alt="Hosted by The Computer Shop">
					</div>
				</div>
			</div>

		</div>

	</div>

</footer>
