<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title text-center">
			<a href="tel:6076488788">(607) 648-8788</a>
		</h3>
	</div>
	<div class="panel-body">

		<ul class="list-unstyled">

			<li>
				<h4 class="text-center">
					Station 1
				</h4>

				<p class="text-center">
					844 Route 369<br>
					Port Crane NY 13833
				</p>

				<p>
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2955.037029848194!2d-75.8184709!3d42.2136532!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89dafbe2ad628dfb%3A0x7da663a6650ebe38!2s844+NY-369%2C+Port+Crane%2C+NY+13833!5e0!3m2!1sen!2sus!4v1431296721869" width="100%" height="250" frameborder="0" style="border:0"></iframe>
				</p>
			</li>
			<li><hr></li>
			<li>
				<h4 class="text-center">
					Station 2
				</h4>

				<p class="text-center">
					12 Canal St<br>
					Port Crane NY 13833
				</p>

				<p>
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2957.350953950258!2d-75.835008!3d42.164173999999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89dafb13cf62c54b%3A0xdce88726b1630ccc!2s12+Canal+St%2C+Port+Crane%2C+NY+13833!5e0!3m2!1sen!2sus!4v1431296758024" width="100%" height="250" frameborder="0" style="border:0"></iframe>
				</p>		
			</li>

		</ul>


	</div>
</div>